body {
  background-color: #ECE3CE;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Agbalumo', cursive;

}

#root {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.container{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-labe{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-input{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.2rem;
}

.form-button {
  padding: 0.5rem 1rem;
  background-color: #007acc;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-button:hover, .register-form-button:hover {
  background-color: #005b8e;
}

.go-to-register {
  text-align: center;
}

.go-to-register a {
  color: #003c63;
  text-decoration: none;
}

.highscores{
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  text-decoration: none;
  padding: 2rem;
  font-weight: bold;
  background-color: #739072;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
  background-color: rgba(54, 156, 100, 0.5);
  transition: 0.3s ease;
}
h2 {
  margin: 0;
  padding: 0;
  color: #eee;
  font-size: 2rem;
}

nav a:hover {
  color: rgba(19, 82, 55, 0.5);
  background-color: #eee;
}

.profile-wrapper {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-wrapper {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  width: fit-content;
}

#password {
  margin-right: .3rem;
}

button {
  width: fit-content;
}

.board {
  display: flex;
  border-spacing: 0;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.board table {
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 1rem;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

.tile {
  border: solid 1px black;
  width: 5rem;
  height: 5rem;
  padding: 0;
  display: inline-block
}

.selected-tile {
  border: solid 1px yellow !important;
}

.board-text {
  margin: 0;
  color: #3A4D39
}

p {
  font-weight: lighter;
  border: 1px solid red
}
.reset-button {
  margin: 1rem;
  padding: 10px 15px;
  border: 1px solid rgba(54, 156, 100);
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
  background-color: rgba(54, 156, 100);
  transition: 0.3s ease;}

.reset-button:hover {
  color: rgba(54, 156, 100);
  background-color: #eee;
}

.board-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}